body{
    background-image: url("img/pexels-negative-space-34085.jpg");
    background-size: cover;
}

nav {
    height: 175px;
    background-color: burlywood;
    border: solid  5px;
}

div {
    border-collapse: collapse;
    margin: 15px 0;
}

input[type=text] {
    background-color: antiquewhite;
}

select {
    background: red;
}

section {
    height: 150px;
}

h2 {
    font-family: Anton, sans-serif;
}

ul, li {
    border: 1px solid black;
    padding: 5px 10px;
}

nav h1 {
    text-align: center;
    font-family: Anton, sans-serif;
    font-size: 48px;
}

nav p {
    text-align: center;
    font-family: Abel, sans-serif;
    font-size: 25px;
}

.form-container {
    background-color: burlywood;
}

.font1 {
    font-weight: bold;
    color: whitesmoke;
    font-family: Anton, sans-serif;
    font-size: 38px;
}

.font2 {
    color: white;
    font-family: Abel, sans-serif;
    font-size: 20px;
}
