/*full page selectors*/
body{
    background-image: url("img/pexels-negative-space-34085.jpg");
    background-size: cover;
}

h2 {
    font-family: Anton, sans-serif;
}

/*nav bar selectors*/
nav {
    height: 175px;
    background-color: burlywood;
    border: solid black 5px;
}

nav h1 {
    text-align: center;
    font-family: Anton, sans-serif;
    font-size: 48px;
}

nav p {
    text-align: center;
    font-family: Abel, sans-serif;
    font-size: 25px;
}

/*output form selectors*/
div {
    margin: 15px 0;
}

.font1 {
    font-weight: bold;
    color: whitesmoke;
    font-family: Anton, sans-serif;
    font-size: 38px;
}

.font2 {
    color: white;
    font-family: Abel, sans-serif;
    font-size: 20px;
}

/*form container styling*/
section {
    height: 150px;
}

.form-container {
    border: solid black 5px;
    border-top: 0;
    background-color: burlywood;
}

/*form styling*/
select.form-select {
    background: antiquewhite;
    font-family: Abel, sans-serif;
}

input[type=text] {
    background-color: antiquewhite;
    font-family: Abel, sans-serif;
}

label {
    font-family: Anton, sans-serif;
}